$size-xxs: 390px;
$app-width: 35rem;
$app-bar-height: 60px;
$kvk-font-color: #00536d;
$kvk-font-color-light: #4190a8;
$hotpink: hotpink;
$grey: #efefef;

@mixin xxs {
  @media (max-width: $size-xxs) {
    @content;
  }
}